.recover {
  margin-left: 100px;
  max-width: 596px;
}

.recover .grey-box {
  margin-top: 57px;
  width: 100%;
}

.recover .white-text {
  margin-top: 40px;
}

.recover input[type='submit'] {
  max-width: 230px;
}
