<div class="instructions">
  <div class="grey-box instructions-cap">
    <div class="row instructions-controls">
      <div class="col col-lg-3 col-lx-3 col-md-6 col-sm-12 instructions-controls-group">
        <button class="button white-btn active-btn" id="lk">Вход в ЛК</button>
        <button class="button white-btn" id="users">Пользователи</button>
      </div>
      <div class="col col-lg-3 col-lx-3 col-md-6 col-sm-12 instructions-controls-group">
        <button class="button white-btn" id="recover">Восстановление пароля</button>
        <button class="button white-btn" id="profile">Профиль</button>
      </div>
      <div class="col col-lg-3 col-lx-3 col-md-6 col-sm-12 instructions-controls-group">
        <button class="button white-btn" id="journal">Журнал заказов</button>
        <button class="button white-btn" id="template">Шаблон заказов</button>
      </div>
      <div class="col col-lg-3 col-lx-3 col-md-6 col-sm-12 instructions-controls-group">
        <button class="button white-btn" id="book">Адресная книга</button>
        <button class="button white-btn" id="calc">Калькулятор</button>
      </div>
    </div>
  </div>

  <div class="grey-box main-content">
    <p class="if-empty">
      Тут будет картинка со скриншотами описания  функционала под каждый раздел
    </p>
  </div>

  <div class="navigation">
    <div class="navigation-prev">
      <img src="../../../assets/img/common/prev.svg" alt="ico">
    </div>
    <input name="current-page" id="current-page" type="text" value="5">
    <span class="navigation-total">из 25 страниц</span>
    <div class="navigation-next">
      <img src="../../../assets/img/common/next.svg" alt="ico">
    </div>
  </div>
</div>
