<div class="profile">
  <h2 class="profile__header profile__header_uppercase">Общее</h2>
  <div class="profile__box profile__box_row">
    <div class="profile-box__item">
      <h2 class="profile__header">Имя</h2>
      <p class="profile__content profile__content_mb0">Andrey</p>
    </div>
    <div class="profile-box__item">
      <h2 class="profile__header">Email</h2>
      <p class="profile__content profile__content_mb0">bartashevich.s@ntt.by</p>
    </div>
    <div class="profile-box__item">
      <h2 class="profile__header">Телефон</h2>
      <p class="profile__content profile__content_mb0">+375 29 342-5554 </p>
    </div>
  </div>
  <h2 class="profile__header profile__header_uppercase">Настройки отправителя</h2>
  <div class="profile__box profile__box_column">
    <h2 class="profile__header">Отправитель</h2>
    <p class="profile__content">ООО "НТТ Импорт"</p>
    <h2 class="profile__header">Адресс выдачи груза</h2>
    <p class="profile__content">МИНСКАЯ ОБЛАСТЬ, Минский, д. Большое Стиклево, ТЕР. РАЙОН Д. БОЛЬШОЕ СТИКЛЕВО, д. 40, корп. 2</p>
    <h2 class="profile__header">Контакт (по адресу доставки груза)</h2>
    <p class="profile__content">Артём</p>
    <div class="profile__row">
      <span class="profile__header">Использовать как основной</span>
      <input type="checkbox">
    </div>
  </div>
  <h2 class="profile__header profile__header_uppercase">Настройки отправителя</h2>
  <div class="profile__box profile__box_column">
    <div class="profile__row">
      <input type="checkbox">
      <span class="profile__content">Уведомлять о предварительной стоимости доставки груза по заявке</span>
    </div>
    <div class="profile__row">
      <input type="checkbox">
      <span class="profile__content">Смс-оповещение о приходе груза</span>
    </div>
    <div class="profile__row">
      <input type="checkbox">
      <span class="profile__content">Уведомлять о предварительной стоимости доставки груза по заявке</span>
    </div>
  </div>
</div>
