input[type='text'],
input[type='tel'],
input[type='email'],
input[type='password'],
input[type='number'],
input[type='date'] {
  background-color: #ffffff;
  outline: none;
  border: none;
  border-radius: 5px;
  margin: 12px 0 0 0;
  padding: 12px 15px;
  box-sizing: border-box;
  font-family: "Montserrat-Medium", sans-serif;
  font-size: 14px;
  color: rgba(0,0,0,0.5);
}
