<div class="sign-in">
  <h1 class="sign-in-text">Пожалуйста, введите свои данные для вход в личный кабинет </h1>
  <form action="" class="sing-in-form">
    <label for="login">Логин</label>
    <input type="text" name="login" id="login">
    <small class="sign-in-verification">Неверный логин</small>
    <label for="password">Пароль</label>
    <input type="password" name="password" id="password">
    <small class="sign-in-verification">Неверный пароль</small>
    <input type="submit" value="Войти">
  </form>
</div>
