.login {
  margin-left: 100px;
}

.login .grey-box {
  margin-top: 57px;
  width: 100%;
  max-width: 593px;
}

.login .white-text {
  margin-top: 40px;
}

.login input[type='submit'] {
  max-width: 165px;
}
