<div class="admin">
  <h1 class="admin-text">Пожалуйста, введите свои данные для вход в личный кабинет </h1>
  <form action="" class="form sign-in-form">
    <label for="login">Логин</label>
    <input type="text" name="login" id="login">
<!--    <small class="form-verification">Неверный логин</small>-->
    <label for="password">Пароль</label>
    <input type="password" name="password" id="password">
<!--    <small class="form-verification">Неверный пароль</small>-->
    <input type="submit" value="Войти" class="sign-in-btn" (click)="auth.login()">
  </form>
</div>
