<!--<div class="admin">-->
<!--  <h1 class="admin-text"> </h1>-->
<!--  <form action="" class="form sign-in-form">-->
<!--    <label for="login">Логин</label>-->
<!--    <input type="text" name="login" id="login">-->
<!--&lt;!&ndash;    <small class="form-verification">Неверный логин</small>&ndash;&gt;-->
<!--    <label for="password">Пароль</label>-->
<!--    <input type="password" name="password" id="password">-->
<!--&lt;!&ndash;    <small class="form-verification">Неверный пароль</small>&ndash;&gt;-->
<!--    <input type="submit" value="Войти" class="sign-in-btn">-->
<!--  </form>-->
<!--</div>-->

<div class="login">
  <h1 class="white-text">Пожалуйста, введите свои данные для вход в личный кабинет</h1>
  <form action="">
    <div class="grey-box">
      <label for="login">Логин</label>
      <input type="text" name="login" id="login">

      <label for="password">Пароль</label>
      <input type="password" name="password" id="password">

      <input type="submit" value="Войти">
    </div>
  </form>
</div>
