.container {
  box-sizing: border-box;
  padding: 36px 50px 40px 50px;
  width: 100vw;
  height: 100vh;
  background-color: #F2F8E0;
  display: flex;
}

.main-content {
  overflow: auto;
  box-sizing: border-box;
  width: 87vw;
  height: 100%;
  background-color: #A070B5;
  border-radius: 10px;
  background-image: url("../assets/img/signing/background/Vector.svg"),
                    url("../assets/img/signing/background/Vector-3.svg"),
                    url("../assets/img/signing/background/Vector-4.svg"),
                    url("../assets/img/signing/background/Group.svg"),
                    url("../assets/img/signing/background/Vector-1.svg"),
                    url("../assets/img/signing/background/Vector-5.svg"),
                    url("../assets/img/signing/background/Vector-2.svg");
  background-repeat: no-repeat;
  background-position: 2.81% 95.7%,
                       30.87% 85.46%,
                       62.04% 90.97%,
                       95.77% 92.46%,
                        80.36% 45.94%,
                        60.34% 7.41%,
                        95.71% 6%;
}
