<div class="book">
  <div class="row">
    <div class="col col-lg-4 col-lx-4 col-md-12 col-sm-12">
      <div class="grey-box">
        <h2 class="uppercase-header">Контрагенты</h2>
        <button class="button white-btn">Новый контрагент</button>
      </div>
    </div>
    <div class="col col-lg-4 col-lx-4 col-md-12 col-sm-12">
      <div class="grey-box">
        <h2 class="uppercase-header">Адреса</h2>
        <button class="button white-btn">Новый адрес</button>
      </div>
    </div>
    <div class="col col-lg-4 col-lx-4 col-md-12 col-sm-12">
      <div class="grey-box">
        <h2 class="uppercase-header">Контакты</h2>
        <button class="button white-btn">Новый контакт</button>
      </div>
    </div>
  </div>

  <div class="row search-row">
    <input type="search" placeholder="Поиск">
  </div>

  <div class="row book-main-content">
    <div class="col col-lg-4 col-lx-4 col-md-12 col-sm-12" style="height: 100%">
      <ag-grid-angular
        style="width: 100%; height: 100%;"
        class="ag-theme-alpine"
        [rowData]="rowDataContrAgent"
        [columnDefs]="columnDefsContrAgent"
      >
      </ag-grid-angular>
<!--      <div class="book-table-container">-->
<!--        <table style="height: 100%">-->
<!--          <thead>-->
<!--          <tr>-->
<!--            <th>Наименование-->
<!--              <button class="filter"></button>-->
<!--            </th>-->
<!--          </tr>-->
<!--          </thead>-->
<!--          <tbody>-->
<!--          <tr>-->
<!--            <td>"Верхнедвинская районная ветеринарная станция"</td>-->
<!--          </tr>-->
<!--          <tr>-->
<!--            <td>"Верхнедвинская районная ветеринарная станция"</td>-->
<!--          </tr>-->
<!--          <tr>-->
<!--            <td>"Верхнедвинская районная ветеринарная станция"</td>-->
<!--          </tr>-->
<!--          <tr>-->
<!--            <td>"Верхнедвинская районная ветеринарная станция"</td>-->
<!--          </tr>-->
<!--          <tr>-->
<!--            <td>"Верхнедвинская районная ветеринарная станция"</td>-->
<!--          </tr>-->
<!--          <tr>-->
<!--            <td>"Верхнедвинская районная ветеринарная станция"</td>-->
<!--          </tr>-->
<!--          <tr>-->
<!--            <td>"Верхнедвинская районная ветеринарная станция"</td>-->
<!--          </tr>-->
<!--          <tr>-->
<!--            <td>"Верхнедвинская районная ветеринарная станция"</td>-->
<!--          </tr>-->
<!--          <tr>-->
<!--            <td>"Верхнедвинская районная ветеринарная станция"</td>-->
<!--          </tr>-->
<!--          <tr>-->
<!--            <td>"Верхнедвинская районная ветеринарная станция"</td>-->
<!--          </tr>-->
<!--          </tbody>-->
<!--        </table>-->
<!--      </div>-->
    </div>
    <div class="col col-lg-4 col-lx-4 col-md-12 col-sm12" style="height: 100%">
      <ag-grid-angular
        style="width: 100%; height: 100%;"
        class="ag-theme-alpine"
        [rowData]="rowDataAddress"
        [columnDefs]="columnDefsAddress"
        [defaultColDef]="defaultColDef"
        [suppressRowClickSelection]="true"
        [rowSelection]="rowSelection"
        (gridReady)="onGridReady($event)"
      >
      </ag-grid-angular>
<!--      <div class="book-table-container">-->
<!--        <table style="height: 100%">-->
<!--          <thead>-->
<!--          <tr>-->
<!--            <th>Основной</th>-->
<!--            <th>Наименование-->
<!--              <button class="filter"></button>-->
<!--            </th>-->
<!--          </tr>-->
<!--          </thead>-->
<!--          <tbody>-->
<!--          <tr>-->
<!--            <td><input type="checkbox"></td>-->
<!--            <td>г. Брест, УЛ. СОВЕТСКИХ ПОГРАНИЧНИКОВ, д. 1, оф. 1</td>-->
<!--          </tr>-->
<!--          <tr>-->
<!--            <td><input type="checkbox"></td>-->
<!--            <td>г. Брест, УЛ. СОВЕТСКИХ ПОГРАНИЧНИКОВ, д. 1, оф. 1</td>-->
<!--          </tr>-->
<!--          <tr>-->
<!--            <td><input type="checkbox"></td>-->
<!--            <td>г. Брест, УЛ. СОВЕТСКИХ ПОГРАНИЧНИКОВ, д. 1, оф. 1</td>-->
<!--          </tr>-->
<!--          <tr>-->
<!--            <td><input type="checkbox"></td>-->
<!--            <td>г. Брест, УЛ. СОВЕТСКИХ ПОГРАНИЧНИКОВ, д. 1, оф. 1</td>-->
<!--          </tr>-->
<!--          <tr>-->
<!--            <td><input type="checkbox"></td>-->
<!--            <td>г. Брест, УЛ. СОВЕТСКИХ ПОГРАНИЧНИКОВ, д. 1, оф. 1</td>-->
<!--          </tr>-->
<!--          <tr>-->
<!--            <td><input type="checkbox"></td>-->
<!--            <td>г. Брест, УЛ. СОВЕТСКИХ ПОГРАНИЧНИКОВ, д. 1, оф. 1</td>-->
<!--          </tr>-->
<!--          <tr>-->
<!--            <td><input type="checkbox"></td>-->
<!--            <td>г. Брест, УЛ. СОВЕТСКИХ ПОГРАНИЧНИКОВ, д. 1, оф. 1</td>-->
<!--          </tr>-->
<!--          <tr>-->
<!--            <td><input type="checkbox"></td>-->
<!--            <td>г. Брест, УЛ. СОВЕТСКИХ ПОГРАНИЧНИКОВ, д. 1, оф. 1</td>-->
<!--          </tr>-->
<!--          <tr>-->
<!--            <td><input type="checkbox"></td>-->
<!--            <td>г. Брест, УЛ. СОВЕТСКИХ ПОГРАНИЧНИКОВ, д. 1, оф. 1</td>-->
<!--          </tr>-->
<!--          </tbody>-->
<!--        </table>-->
<!--      </div>-->
    </div>
    <div class="col col-lg-4 col-lx-4 col-md-12 col-sm-12" style="height: 100%">
      <ag-grid-angular
        style="width: 100%; height: 100%;"
        class="ag-theme-alpine"
        [rowData]="rowDataContacts"
        [columnDefs]="columnDefsContacts"
        [defaultColDef]="defaultColDef"
        [suppressRowClickSelection]="true"
        [rowSelection]="rowSelection"
        (gridReady)="onGridReady($event)"
      >
      </ag-grid-angular>
<!--      <div class="book-table-container">-->
<!--        <table>-->
<!--          <thead>-->
<!--          <tr>-->
<!--            <th nowrap="">Имя контакта</th>-->
<!--            <th nowrap="">Имя контакта</th>-->
<!--            <th nowrap="">Должность</th>-->
<!--            <th nowrap="">Телефон</th>-->
<!--            <th nowrap="">Телефон 1</th>-->
<!--            <th nowrap="">Телефон 2</th>-->
<!--            <th nowrap="">Email</th>-->
<!--          </tr>-->
<!--          </thead>-->
<!--          <tbody>-->
<!--          <tr>-->
<!--            <td><input type="checkbox"></td>-->
<!--            <td>Анна</td>-->
<!--            <td>-</td>-->
<!--            <td>+375 33 865 55 78</td>-->
<!--            <td>+375 33 865 55 78</td>-->
<!--            <td>+375 33 865 55 78</td>-->
<!--            <td>mail@mail.com</td>-->
<!--          </tr>-->
<!--          <tr>-->
<!--            <td><input type="checkbox"></td>-->
<!--            <td>Анна</td>-->
<!--            <td>-</td>-->
<!--            <td>+375 33 865 55 78</td>-->
<!--            <td>+375 33 865 55 78</td>-->
<!--            <td>+375 33 865 55 78</td>-->
<!--            <td>mail@mail.com</td>-->
<!--          </tr>-->
<!--          <tr>-->
<!--            <td><input type="checkbox"></td>-->
<!--            <td>Анна</td>-->
<!--            <td>-</td>-->
<!--            <td>+375 33 865 55 78</td>-->
<!--            <td>+375 33 865 55 78</td>-->
<!--            <td>+375 33 865 55 78</td>-->
<!--            <td>mail@mail.com</td>-->
<!--          </tr>-->
<!--          <tr>-->
<!--            <td><input type="checkbox"></td>-->
<!--            <td>Анна</td>-->
<!--            <td>-</td>-->
<!--            <td>+375 33 865 55 78</td>-->
<!--            <td>+375 33 865 55 78</td>-->
<!--            <td>+375 33 865 55 78</td>-->
<!--            <td>mail@mail.com</td>-->
<!--          </tr>-->
<!--          <tr>-->
<!--            <td><input type="checkbox"></td>-->
<!--            <td>Анна</td>-->
<!--            <td>-</td>-->
<!--            <td>+375 33 865 55 78</td>-->
<!--            <td>+375 33 865 55 78</td>-->
<!--            <td>+375 33 865 55 78</td>-->
<!--            <td>mail@mail.com</td>-->
<!--          </tr>-->
<!--          <tr>-->
<!--            <td><input type="checkbox"></td>-->
<!--            <td>Анна</td>-->
<!--            <td>-</td>-->
<!--            <td>+375 33 865 55 78</td>-->
<!--            <td>+375 33 865 55 78</td>-->
<!--            <td>+375 33 865 55 78</td>-->
<!--            <td>mail@mail.com</td>-->
<!--          </tr>-->
<!--          <tr>-->
<!--            <td><input type="checkbox"></td>-->
<!--            <td>Анна</td>-->
<!--            <td>-</td>-->
<!--            <td>+375 33 865 55 78</td>-->
<!--            <td>+375 33 865 55 78</td>-->
<!--            <td>+375 33 865 55 78</td>-->
<!--            <td>mail@mail.com</td>-->
<!--          </tr>-->
<!--          <tr>-->
<!--            <td><input type="checkbox"></td>-->
<!--            <td>Анна</td>-->
<!--            <td>-</td>-->
<!--            <td>+375 33 865 55 78</td>-->
<!--            <td>+375 33 865 55 78</td>-->
<!--            <td>+375 33 865 55 78</td>-->
<!--            <td>mail@mail.com</td>-->
<!--          </tr>-->
<!--          <tr>-->
<!--            <td><input type="checkbox"></td>-->
<!--            <td>Анна</td>-->
<!--            <td>-</td>-->
<!--            <td>+375 33 865 55 78</td>-->
<!--            <td>+375 33 865 55 78</td>-->
<!--            <td>+375 33 865 55 78</td>-->
<!--            <td>mail@mail.com</td>-->
<!--          </tr>-->
<!--          <tr>-->
<!--            <td><input type="checkbox"></td>-->
<!--            <td>Анна</td>-->
<!--            <td>-</td>-->
<!--            <td>+375 33 865 55 78</td>-->
<!--            <td>+375 33 865 55 78</td>-->
<!--            <td>+375 33 865 55 78</td>-->
<!--            <td>mail@mail.com</td>-->
<!--          </tr>-->
<!--          </tbody>-->
<!--        </table>-->
<!--      </div>-->
    </div>
  </div>

  <div class="row" style="margin: 0;">
    <div class="col col-lg-4 col-lx-4 col-md-12 col-sm-12">
      <div class="grey-box-darker">
        <div class="navigation-counter">
          <h2 class="grey-box-title">На странице:</h2>
          <span class="page">5</span>
        </div>
        <div class="navigation-controls">
          <div class="navigation-controls-prev"></div>
          <span class="page">5</span>
          <span class="page-total">из 25 страниц</span>
          <div class="navigation-controls-next"></div>
        </div>
      </div>
    </div>
    <div class="col col-lg-4 col-lx-4 col-md-12 col-sm-12">
      <div class="grey-box-darker">
        <div class="navigation-counter">
          <h2 class="grey-box-title">На странице:</h2>
          <span class="page">5</span>
        </div>
        <div class="navigation-controls">
          <div class="navigation-controls-prev"></div>
          <span class="page">5</span>
          <span class="page-total">из 25 страниц</span>
          <div class="navigation-controls-next"></div>
        </div>
      </div>
    </div>
    <div class="col col-lg-4 col-lx-4 col-md-12 col-sm-12">
      <div class="grey-box-darker">
        <div class="navigation-counter">
          <h2 class="grey-box-title">На странице:</h2>
          <span class="page">5</span>
        </div>
        <div class="navigation-controls">
          <div class="navigation-controls-prev"></div>
          <span class="page">5</span>
          <span class="page-total">из 25 страниц</span>
          <div class="navigation-controls-next"></div>
        </div>
      </div>
    </div>
  </div>
</div>
