<div class="book">
  <div class="row">
    <div class="col col-lg-4 col-lx-4 col-md-12 col-sm-12">
      <div class="grey-box">
        <h2 class="uppercase-header">Контрагенты</h2>
        <button class="button white-btn">Новый контрагент</button>
      </div>
    </div>
    <div class="col col-lg-4 col-lx-4 col-md-12 col-sm-12">
      <div class="grey-box">
        <h2 class="uppercase-header">Адреса</h2>
        <button class="button white-btn">Новый адрес</button>
      </div>
    </div>
    <div class="col col-lg-4 col-lx-4 col-md-12 col-sm-12">
      <div class="grey-box">
        <h2 class="uppercase-header">Контакты</h2>
        <button class="button white-btn">Новый контакт</button>
      </div>
    </div>
  </div>

  <div class="row search-row">
    <input type="search" placeholder="Поиск">
  </div>

  <div class="row book-main-content">
    <div class="col col-lg-4 col-lx-4 col-md-12 col-sm-12" style="height: 100%">
      <app-contragents></app-contragents>
    </div>
    <div class="col col-lg-4 col-lx-4 col-md-12 col-sm12" style="height: 100%">
      <app-adress></app-adress>
    </div>
    <div class="col col-lg-4 col-lx-4 col-md-12 col-sm-12" style="height: 100%">
      <app-contacts></app-contacts>
    </div>
  </div>
</div>
