<div class="book">
  <div class="row">
    <div class="col col-lg-4 col-lx-4 col-md-12 col-sm-12">
      <div class="grey-box">
        <h2 class="uppercase-header">Контрагенты</h2>
        <button class="button white-btn">Новый контрагент</button>
      </div>
    </div>
    <div class="col col-lg-4 col-lx-4 col-md-12 col-sm-12">
      <div class="grey-box">
        <h2 class="uppercase-header">Адреса</h2>
        <button class="button white-btn">Новый адрес</button>
      </div>
    </div>
    <div class="col col-lg-4 col-lx-4 col-md-12 col-sm-12">
      <div class="grey-box">
        <h2 class="uppercase-header">Контакты</h2>
        <button class="button white-btn">Новый контакт</button>
      </div>
    </div>
  </div>

  <div class="row search-row">
    <input type="search" placeholder="Поиск">
  </div>

  <div class="row book-main-content">
    <div class="col col-lg-4 col-lx-4 col-md-12 col-sm-12" style="height: 100%">
      <ag-grid-angular
        style="width: 100%; height: 100%; overflow: visible"
        class="ag-theme-alpine"
        [rowData]="rowDataContrAgent"
        [animateRows]="true"
        [columnDefs]="columnDefsContrAgent"
        [defaultColDef]="defaultColDef"
        [suppressRowClickSelection]="true"
        [rowSelection]="rowSelection"
        [pagination]="true"
        [paginationAutoPageSize]="true"
      >
      </ag-grid-angular>
    </div>
    <div class="col col-lg-4 col-lx-4 col-md-12 col-sm12" style="height: 100%">
      <ag-grid-angular
        style="width: 100%; height: 100%; overflow: visible"
        class="ag-theme-alpine"
        [rowData]="rowDataAddress"
        [animateRows]="true"
        [columnDefs]="columnDefsAddress"
        [defaultColDef]="defaultColDef"
        [suppressRowClickSelection]="true"
        [rowSelection]="rowSelection"
        [pagination]="true"
        [paginationAutoPageSize]="true"
        (gridReady)="onGridReady($event)"
      >
      </ag-grid-angular>
    </div>
    <div class="col col-lg-4 col-lx-4 col-md-12 col-sm-12" style="height: 100%">
      <ag-grid-angular
        style="width: 100%; height: 100%;"
        class="ag-theme-alpine"
        [rowData]="rowDataContacts"
        [columnDefs]="columnDefsContacts"
        [defaultColDef]="defaultColDef"
        [suppressRowClickSelection]="true"
        [rowSelection]="rowSelection"
        [pagination]="true"
        [paginationAutoPageSize]="true"
        (gridReady)="onGridReady($event)"
      >
      </ag-grid-angular>
    </div>
  </div>

  <div class="row" style="margin: 0;">
    <div class="col col-lg-4 col-lx-4 col-md-12 col-sm-12"></div>
    <div class="col col-lg-4 col-lx-4 col-md-12 col-sm-12"></div>
    <div class="col col-lg-4 col-lx-4 col-md-12 col-sm-12"></div>
  </div>
</div>
