<div class="home">
  <div class="home__row home__row_lines">
    <div class="home__col home__col_6">
      <table class="agreement-table">
        <thead>
        <th>Договор</th>
        <th>Вид сделки</th>
        <th>Статус блокировки</th>
        <th>Скидка, %</th>
        </thead>
        <tbody>
        <tr>
          <td>№ 1234567 от 15.03.2021</td>
          <td>Курьерская доставка</td>
          <td>
            <span class="locked">Заблокирован</span>
          </td>
          <td>5</td>
        </tr>
        <tr>
          <td>№ 1234567 от 15.03.2021</td>
          <td>Экспресс - доставка документов</td>
          <td>
            <span class="unlocked">Отсутствует</span>
          </td>
          <td>5</td>
        </tr>
        <tr>
          <td>№ 1234567 от 15.03.2021</td>
          <td>Курьерская доставка</td>
          <td>
            <span class="locked">Заблокирован</span>
          </td>
          <td>5</td>
        </tr>
        <tr>
          <td>№ 1234567 от 15.03.2021</td>
          <td>Экспресс - доставка документов</td>
          <td>
            <span class="unlocked">Отсутствует</span>
          </td>
          <td>5</td>
        </tr>
        </tbody>
        <tfoot>
        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        </tfoot>
      </table>
    </div>
    <div class="home__col home__col_6">
      <div class="home__row home__row_white">
        <div class="home__col home__col_6">
          <h3 class="home__header">Юр. лицо</h3>
          <p class="home__content">ООО "АльС Трейдинг" (191171964) Беларусь, 220052, г.Минск, ул.Гурского, д.46,
            ком.административная 1/15-7</p>
        </div>
        <div class="home__col home__col_6">
          <h3 class="home__header">р/с</h3>
          <p class="home__content">р/с BY40UNBS30121655700050000933 в ЗАО "БСБ Банк", БИК UNBSBY2X</p>
        </div>
      </div>
      <div class="home__row home__row_white">
        <table>
          <thead>
          <th class="home__header" colspan="2">Бухгалтерский баланс</th>
          <th>Договор:</th>
          <th>Последнее обновление:</th>
          </thead>
          <tbody>
          <tr>
            <td>100 BYN</td>
            <td>Услуги доставки</td>
            <td>№ 1234567</td>
            <td>01. 01. 2021 09 : 15</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="home__row home__row_grey">
    <h3 class="home__header">Журнал заказов ( кратко)</h3>
    <ag-grid-angular
      style="width: 100%; height: 100%; overflow: visible"
      class="ag-theme-alpine"
      [suppressPaginationPanel]="true"
      [debug]="true"
      [suppressScrollOnNewData]="true"
      [rowData]="rowData"
      [columnDefs]="columnDefs"
      [defaultColDef]="defaultColDef"
      [suppressRowClickSelection]="true"
      [rowSelection]="rowSelection"
      [pagination]="true"
      [paginationPageSize]="paginationPageSize"
      (paginationChanged)="onPaginationChanged($event, 'address')"
      (gridReady)="onGridReady($event)"
    >
    </ag-grid-angular>
    <div style="width: 100%; display: flex; justify-content: space-between; align-items: center">
      <div class="num-of-items">
        <span>На странице</span>
        <input (input)="onUserPageGrid($event)" style="max-width: 150px" type="number" value="10">
      </div>
      <div class="page-controls">
        <span (click)="onBtPrevious()" class="page-prev">&lt;</span>
        <span id="current-address" class="page-current"></span>
        <span class="page-of">из</span>
        <span id="total-address" class="page-total"></span>
        <span (click)="onBtNext()" class="page-next">&gt;</span>
      </div>
    </div>
  </div>
</div>
