<div class="template-edit">
  <div class="template-edit__cap">
    <div class="grey-box row">
      <div class="col col-lg-3 col-lx-3 col-md-12 col-sm-12">
        <label for="name">Наименование шаблона</label>
        <input id="name" name="name" type="text" placeholder="Наименование">
      </div>
      <div class="col col-lg-3 col-lx-3 col-md-12 col-sm-12">
        <label for="type">Тип услуги</label>
        <select name="type" id="type">
          <option value="0">Экспресс-доставка грузов</option>
          <option value="0">Курьерская доставка</option>
        </select>
      </div>
      <div class="col col-lg-3 col-lx-3 col-md-12 col-sm-12">
        <label for="delivery-type">Тип доставки</label>
        <select name="delivery-type" id="delivery-type">
          <option value="0">Дверь/дверь</option>
        </select>
      </div>
    </div>
  </div>
  <div class="template-edit__map row">
    <div class="col col-lg-6 col-lx-6 col-md-12 col-sm-12">
      <div class="row">
        <div class="col col-lg-6 col-lx-6 col-md-12 col-sm-12">
          <button>Доставка</button>
        </div>
        <div class="col col-lg-6 col-lx-6 col-md-12 col-sm-12">
          <button>Вес, габариты</button>
        </div>
      </div>
    </div>
    <div class="col col-lg-6 col-lx-6 col-md-12 col-sm-12" style="display: flex; justify-content: flex-end">
      <button>Дополнительные услуги</button>
    </div>
  </div>

  <div class="template-edit__main row template-edit__main__delivery">
    <div class="col col-lg-6 col-lx-6 col-md-12 col-sm-12">
      <div class="grey-box">
        <div class="row">
          <div class="col col-lg-11 col-lx-11 col-md-11 col-sm-11">

          </div>
          <div class="col col-lg-1 col-lx-1 col-md-1 col-sm-1">

          </div>
        </div>
        <div class="row">
          <div class="col col-lg-11 col-lx-11 col-md-11 col-sm-11">

          </div>
          <div class="col col-lg-1 col-lx-1 col-md-1 col-sm-1">

          </div>
        </div>
        <div class="row"></div>
        <div class="row">
          <div class="col col-lg-11 col-lx-11 col-md-11 col-sm-11">

          </div>
          <div class="col col-lg-1 col-lx-1 col-md-1 col-sm-1">

          </div>
        </div>
        <div class="row">
          <div class="col col-lg-11 col-lx-11 col-md-11 col-sm-11">

          </div>
        </div>
        <div class="row">
          <div class="col col-lg-11 col-lx-11 col-md-11 col-sm-11">
            <div class="row">
              <div class="col col-lg-6 col-lx-6 col-md-6 col-sm-6">
                <div class="row">
                  <div class="col col-lg-7 col-lx-7 col-md-7 col-sm-7"></div>
                  <div class="col col-lg-5 col-lx-5 col-md-5 col-sm-5"></div>
                </div>
              </div>
              <div class="col col-lg-6 col-lx-6 col-md-6 col-sm-6">
                <div class="row">
                  <div class="col col-lg-7 col-lx-7 col-md-7 col-sm-7"></div>
                  <div class="col col-lg-5 col-lx-5 col-md-5 col-sm-5"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col col-lg-11 col-lx-11 col-md-11 col-sm-11">

          </div>
        </div>
        <div class="row">
          <div class="col col-lg-11 col-lx-11 col-md-11 col-sm-11">

          </div>
        </div>
      </div>
    </div>
    <div class="col-col-lg-6 col-lx-6 col-md-12 col-sm-12">
      <div class="grey-box">
        <div class="row">
          <div class="col col-lg-11 col-lx-11 col-md-11 col-sm-11">

          </div>
          <div class="col col-lg-1 col-lx-1 col-md-1 col-sm-1">

          </div>
        </div>
        <div class="row">
          <div class="col col-lg-11 col-lx-11 col-md-11 col-sm-11">

          </div>
          <div class="col col-lg-1 col-lx-1 col-md-1 col-sm-1">

          </div>
        </div>
        <div class="row"></div>
        <div class="row">
          <div class="col col-lg-11 col-lx-11 col-md-11 col-sm-11">

          </div>
          <div class="col col-lg-1 col-lx-1 col-md-1 col-sm-1">

          </div>
        </div>
        <div class="row">
          <div class="col col-lg-11 col-lx-11 col-md-11 col-sm-11">

          </div>
        </div>
        <div class="row">
          <div class="col col-lg-11 col-lx-11 col-md-11 col-sm-11">
            <div class="row">
              <div class="col col-lg-6 col-lx-6 col-md-6 col-sm-6">
                <div class="row">
                  <div class="col col-lg-7 col-lx-7 col-md-7 col-sm-7"></div>
                  <div class="col col-lg-5 col-lx-5 col-md-5 col-sm-5"></div>
                </div>
              </div>
              <div class="col col-lg-6 col-lx-6 col-md-6 col-sm-6">
                <div class="row">
                  <div class="col col-lg-7 col-lx-7 col-md-7 col-sm-7"></div>
                  <div class="col col-lg-5 col-lx-5 col-md-5 col-sm-5"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col col-lg-11 col-lx-11 col-md-11 col-sm-11">
            <div class="row">
              <div class="col col-lg-5 col-lx-5 col-md-5 col-sm-5"></div>
              <div class="col col-lg-7 col-lx-7 col-md-7 col-sm-7"></div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col col-lg-11 col-lx-11 col-md-11 col-sm-11">

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
