.template-edit {
  width: 100%;
}

.template-edit__map {
  position: relative;
  margin-top: 30px;

  & hr {
    background-color: #EEE6F5;
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    margin: 0;
    height: 2px;
  }
}

.template-edit__main {
  margin-top: 30px;
  //height: calc(100% - 342px);

  & textarea {height: 80px}
}

.typical-row {
  margin-top: 12px;
}

.template-edit__end-controls {
  position: relative;

  & .row {
    position: relative;
  }

  & .row hr {
    background-color: #EEE6F5;
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    margin: 0;
    height: 2px;
  }
}
