<div class="registration">
  <div class="registration-cap">
    <h3 class="registration-cap-header">Наличие транспортного договора</h3>
    <div class="registration-cap-controls">
      <div class="registration-cap-controls-col">
        <div class="agreement-toggler">
          <input type="radio" name="agreement" id="with-agreement" (change)="agreement = !agreement">
          <span class="agreement-toggler-icon"></span>
          <label [ngClass]="{'active-agreement': agreement, 'nonactive-agreement': !agreement}" for="with-agreement">Есть договор</label>
        </div>

        <div class="agreement-toggler">
          <input type="radio" name="agreement" id="no-agreement" checked (change)="agreement = !agreement">
          <span class="agreement-toggler-icon"></span>
          <label [ngClass]="{'active-agreement': !agreement, 'nonactive-agreement': agreement}" for="no-agreement">Нет договора</label>
        </div>

      </div>
      <div class="registration-cap-controls-col" [ngClass]="{'agreement-show': !agreement, 'agreement-hide': agreement}">
        <h6 class="registration-cap-controls-warning">Заполните, пожалуйста, форму  для заключения договора</h6>
      </div>
    </div>
  </div>
  <form class="registration-form" action="">
    <fieldset class="no-agreement" [ngClass]="{'agreement-show': !agreement, 'agreement-hide': agreement}">
      <div class="registration-form-box">
        <div class="registration-form-controls">
          <button class="no-agreement-control" (click)="toggleNoPerson($event)">Юр. лицо</button>
          <button class="no-agreement-control" (click)="toggleNoPerson($event)" disabled>Физ. лицо</button>
        </div>
        <fieldset class="fiz" [ngClass]="{'person-no-agreement-show': !personNoAgreement, 'person-no-agreement-hide': personNoAgreement}">
          <label for="fiz_uzername">ФИО</label>
          <input type="text" name="fiz_username" id="fiz_uzername">
          <label for="">Вид документа*</label>
          <select name="fiz_document" id="fiz_document">
            <option value="-1" selected disabled hidden>Выберите вид удостоверения</option>
            <option value="0">Паспорт образца</option>
            <option value="1">Вид на жительство</option>
            <option value="2">Вид на жительство</option>
          </select>
          <div class="row no-agreement-fiz-cols">
            <div class="item">
              <label for="seria">Серия*</label>
              <input type="text" name="seria" id="seria">
            </div>
            <div class="item">
              <label for="doc_number">Номер документа*</label>
              <input type="text" name="doc_number" id="doc_number">
            </div>
          </div>
          <label for="who-did-it">Кем выдано удостоверение*</label>
          <input type="text" name="who-did-it" id="who-did-it">
        </fieldset>
        <fieldset class="ur" [ngClass]="{'person-no-agreement-show': personNoAgreement, 'person-no-agreement-hide': !personNoAgreement}">
          <label for="">Наименование клиента</label>
          <input type="text">
          <label for="">Юридический адрес*</label>
          <input type="text">
          <label for="">Почтовый адрес*</label>
          <input type="text">
          <label for="">Унп*</label>
          <input type="text">
        </fieldset>
      </div>
      <div class="registration-form-box">
        <fieldset class="fiz" [ngClass]="{'person-no-agreement-show': !personNoAgreement, 'person-no-agreement-hide': personNoAgreement}">
          <label for="date-of-get">Дата выдачи*</label>
          <input type="text" name="date-of-get" id="date-of-get">
          <label for="lic_number">Личный номер*</label>
          <input type="text" name="lic_number" id="lic_number">
          <label for="address">Адресс прописки*</label>
          <input type="text" name="address" id="address">
          <label for="phone">Телефон/факс*</label>
          <input type="tel" name="phone" id="phone">
          <label for="email">Email*</label>
          <input type="email" name="email" id="email">
        </fieldset>
        <fieldset class="ur" [ngClass]="{'person-no-agreement-show': personNoAgreement, 'person-no-agreement-hide': !personNoAgreement}">
          <label for="">ОКПО*</label>
          <input type="text">
          <label for="">ФИО уполномоченного лица*</label>
          <input type="text">
          <label for="">Основание для подписания договора*</label>
          <input type="text">
          <label for="">Телефон/факс*</label>
          <input type="text">
          <label for="">Email*</label>
          <input type="text">
        </fieldset>
      </div>
      <div class="row" style="width: 100%">
        <div class="fiz1" [ngClass]="{'person-no-agreement-show': !personNoAgreement, 'person-no-agreement-hide': personNoAgreement}">
          <h6 class="next-boxes">Прочая информация</h6>
        </div>
        <div class="ur1" [ngClass]="{'person-no-agreement-show': personNoAgreement, 'person-no-agreement-hide': !personNoAgreement}">
          <h6 class="next-boxes">Банковские реквизиты</h6>
          <h6 class="next-boxes">Прочая информация</h6>
        </div>
      </div>
      <div class="registration-form-box">
        <fieldset class="fiz" [ngClass]="{'person-no-agreement-show': !personNoAgreement, 'person-no-agreement-hide': personNoAgreement}">
          <label for="freq">Частота доставки груза*</label>
          <input type="number" name="freq" id="freq">
          <label for="cargo_description">Описание грузов</label>
          <input type="text" name="cargo_description" id="cargo_description">
        </fieldset>
        <fieldset class="ur" [ngClass]="{'person-no-agreement-show': personNoAgreement, 'person-no-agreement-hide': !personNoAgreement}">
          <label for="">Наименование банка*</label>
          <input type="text">
          <label for="">Адрес банка*</label>
          <input type="text">
          <label for="">Код банка*</label>
          <input type="text">
          <label for="">Расчетный счет*</label>
          <input type="text">
          <div class="fiz-file" style="margin-top: 30px" [ngClass]="{'person-no-agreement-show': personNoAgreement, 'person-no-agreement-hide': !personNoAgreement}">
            <h6>Прикрепить файл</h6>
            <input type="file" class="custom-file-input">
            <p>Прикрепите, пожалуйста, Свидетельство о регистрации</p>
          </div>
        </fieldset>
      </div>
      <div class="registration-form-box">
        <fieldset class="fiz fiz-file" [ngClass]="{'person-no-agreement-show': !personNoAgreement, 'person-no-agreement-hide': personNoAgreement}">
          <h6>Прикрепить файл</h6>
          <input type="file" class="custom-file-input">
          <p>Прикрепите, пожалуйста, страницы паспорта ( прописка,  последняя и предпоследняя страница в развороте )</p>
        </fieldset>
        <fieldset class="ur" [ngClass]="{'person-no-agreement-show': personNoAgreement, 'person-no-agreement-hide': !personNoAgreement}">
          <label for="">Частота доставки груза*</label>
          <input type="text">
          <label for="">Описание груза</label>
          <input type="text">
          <label for="">ФИО лица по взаиморасчетам</label>
          <input type="text">
          <label for="">Email лица по взаиморасчетам</label>
          <input type="text">
        </fieldset>
      </div>
    </fieldset>
    <fieldset class="with-agreement" [ngClass]="{'agreement-show': agreement, 'agreement-hide': !agreement}">
      <div class="registration-form-box-full">
        <button class="with-agreement-control" (click)="toggleWithPerson($event)">Юр. лицо</button>
        <button class="with-agreement-control" (click)="toggleWithPerson($event)" disabled>Физ. лицо</button>
      </div>
      <div class="registration-form-box-full">
        <fieldset class="fiz" [ngClass]="{'person-with-agreement-show': !personWithAgreement, 'person-with-agreement-hide': personWithAgreement}">
          <div class="row">
            <div class="item">
              <label for="">Идентификационный номер паспорта</label>
              <input type="text">
            </div>
          </div>
        </fieldset>
        <fieldset class="ur" [ngClass]="{'person-with-agreement-show': personWithAgreement, 'person-with-agreement-hide': !personWithAgreement}">
          <div class="row">
            <div class="item">
              <label for="">Компания</label>
              <input type="text">
            </div>
            <div class="item">
              <label for="">УНП компании</label>
              <input type="text">
            </div>
          </div>
        </fieldset>
      </div>
      <div class="registration-form-box">
        <fieldset class="fiz" [ngClass]="{'person-with-agreement-show': !personWithAgreement, 'person-with-agreement-hide': personWithAgreement}">
          <label for="">Имя</label>
          <input type="text">
          <label for="">Email</label>
          <input type="text">
          <label for="">Телефон</label>
          <input type="text">
        </fieldset>
        <fieldset class="ur" [ngClass]="{'person-with-agreement-show': personWithAgreement, 'person-with-agreement-hide': !personWithAgreement}">
          <label for="">Имя</label>
          <input type="text">
          <label for="">Email</label>
          <input type="text">
          <label for="">Телефон</label>
          <input type="text">
        </fieldset>
      </div>
      <div class="registration-form-box">
        <fieldset class="fiz" [ngClass]="{'person-with-agreement-show': !personWithAgreement, 'person-with-agreement-hide': personWithAgreement}">
          <label for="">Логин</label>
          <input type="text">
          <label for="">Пароль</label>
          <input type="text">
          <label for="">Пароль (подтвердить)</label>
          <input type="text">
        </fieldset>
        <fieldset class="ur" [ngClass]="{'person-with-agreement-show': personWithAgreement, 'person-with-agreement-hide': !personWithAgreement}">
          <label for="">Логин</label>
          <input type="text">
          <label for="">Пароль</label>
          <input type="text">
          <label for="">Пароль (подтвердить)</label>
          <input type="text">
        </fieldset>
      </div>
    </fieldset>
    <input type="submit" value="Отправить">
  </form>
</div>
