<div class="journal">
  <div class="row">
    <input type="text" class="search" placeholder="Поиск">
    <button class="add-filter">Фильтр</button>
  </div>

  <div class="row">
    <div class="controls">
      <button>Бланк доставки</button>
      <button>Этикетки</button>
      <button>Отправить на Email</button>
      <button>Выбрать все</button>
      <button>Экспорт в эксель</button>
    </div>
    <div class="add-cols">
      <button>Отображение столбцов в таблице</button>
    </div>
  </div>

  <div class="row main-table">
    <table>
      <thead>
        <th>Выбрать</th>
        <th>Номер</th>
        <th>Статусы</th>
        <th>Дата выдачи груза</th>
        <th>Дата доставки груза</th>
        <th>Услуга</th>
        <th>Отправитель</th>
        <th>Адрес выдачи груза</th>
        <th>Адрес доставки груза</th>
      </thead>
      <tbody>
        <tr>
          <td>
            <input type="checkbox">
          </td>
          <td>
            12345678910
          </td>
          <td>
            Груз
          </td>
          <td>
            21.10.2020
          </td>
          <td>
            23:30
          </td>
          <td>
            Экспресс-доставка грузов
          </td>
          <td>
            ООО "НТТ Импорт"
          </td>
          <td>
            АМИНСКАЯ ОБЛАСТЬ, Минский, д. Большое Стиклево, ТЕР. РАЙОН Д. БОЛЬШОЕ СТИКЛЕВО, д. 40, корп. 2
          </td>
          <td>
            г. Брест, УЛ. КАТИН БОР, д. 103
          </td>
        </tr>
        <tr>
          <td>
            <input type="checkbox">
          </td>
          <td>
            12345678910
          </td>
          <td>
            Груз
          </td>
          <td>
            21.10.2020
          </td>
          <td>
            23:30
          </td>
          <td>
            Экспресс-доставка грузов
          </td>
          <td>
            ООО "НТТ Импорт"
          </td>
          <td>
            АМИНСКАЯ ОБЛАСТЬ, Минский, д. Большое Стиклево, ТЕР. РАЙОН Д. БОЛЬШОЕ СТИКЛЕВО, д. 40, корп. 2
          </td>
          <td>
            г. Брест, УЛ. КАТИН БОР, д. 103
          </td>
        </tr>
        <tr>
          <td>
            <input type="checkbox">
          </td>
          <td>
            12345678910
          </td>
          <td>
            Груз
          </td>
          <td>
            21.10.2020
          </td>
          <td>
            23:30
          </td>
          <td>
            Экспресс-доставка грузов
          </td>
          <td>
            ООО "НТТ Импорт"
          </td>
          <td>
            АМИНСКАЯ ОБЛАСТЬ, Минский, д. Большое Стиклево, ТЕР. РАЙОН Д. БОЛЬШОЕ СТИКЛЕВО, д. 40, корп. 2
          </td>
          <td>
            г. Брест, УЛ. КАТИН БОР, д. 103
          </td>
        </tr>
        <tr>
          <td>
            <input type="checkbox">
          </td>
          <td>
            12345678910
          </td>
          <td>
            Груз
          </td>
          <td>
            21.10.2020
          </td>
          <td>
            23:30
          </td>
          <td>
            Экспресс-доставка грузов
          </td>
          <td>
            ООО "НТТ Импорт"
          </td>
          <td>
            АМИНСКАЯ ОБЛАСТЬ, Минский, д. Большое Стиклево, ТЕР. РАЙОН Д. БОЛЬШОЕ СТИКЛЕВО, д. 40, корп. 2
          </td>
          <td>
            г. Брест, УЛ. КАТИН БОР, д. 103
          </td>
        </tr>
        <tr>
          <td>
            <input type="checkbox">
          </td>
          <td>
            12345678910
          </td>
          <td>
            Груз
          </td>
          <td>
            21.10.2020
          </td>
          <td>
            23:30
          </td>
          <td>
            Экспресс-доставка грузов
          </td>
          <td>
            ООО "НТТ Импорт"
          </td>
          <td>
            АМИНСКАЯ ОБЛАСТЬ, Минский, д. Большое Стиклево, ТЕР. РАЙОН Д. БОЛЬШОЕ СТИКЛЕВО, д. 40, корп. 2
          </td>
          <td>
            г. Брест, УЛ. КАТИН БОР, д. 103
          </td>
        </tr>
        <tr>
          <td>
            <input type="checkbox">
          </td>
          <td>
            12345678910
          </td>
          <td>
            Груз
          </td>
          <td>
            21.10.2020
          </td>
          <td>
            23:30
          </td>
          <td>
            Экспресс-доставка грузов
          </td>
          <td>
            ООО "НТТ Импорт"
          </td>
          <td>
            АМИНСКАЯ ОБЛАСТЬ, Минский, д. Большое Стиклево, ТЕР. РАЙОН Д. БОЛЬШОЕ СТИКЛЕВО, д. 40, корп. 2
          </td>
          <td>
            г. Брест, УЛ. КАТИН БОР, д. 103
          </td>
        </tr>
        <tr>
          <td>
            <input type="checkbox">
          </td>
          <td>
            12345678910
          </td>
          <td>
            Груз
          </td>
          <td>
            21.10.2020
          </td>
          <td>
            23:30
          </td>
          <td>
            Экспресс-доставка грузов
          </td>
          <td>
            ООО "НТТ Импорт"
          </td>
          <td>
            АМИНСКАЯ ОБЛАСТЬ, Минский, д. Большое Стиклево, ТЕР. РАЙОН Д. БОЛЬШОЕ СТИКЛЕВО, д. 40, корп. 2
          </td>
          <td>
            г. Брест, УЛ. КАТИН БОР, д. 103
          </td>
        </tr>
        <tr>
          <td>
            <input type="checkbox">
          </td>
          <td>
            12345678910
          </td>
          <td>
            Груз
          </td>
          <td>
            21.10.2020
          </td>
          <td>
            23:30
          </td>
          <td>
            Экспресс-доставка грузов
          </td>
          <td>
            ООО "НТТ Импорт"
          </td>
          <td>
            АМИНСКАЯ ОБЛАСТЬ, Минский, д. Большое Стиклево, ТЕР. РАЙОН Д. БОЛЬШОЕ СТИКЛЕВО, д. 40, корп. 2
          </td>
          <td>
            г. Брест, УЛ. КАТИН БОР, д. 103
          </td>
        </tr>
        <tr>
          <td>
            <input type="checkbox">
          </td>
          <td>
            12345678910
          </td>
          <td>
            Груз
          </td>
          <td>
            21.10.2020
          </td>
          <td>
            23:30
          </td>
          <td>
            Экспресс-доставка грузов
          </td>
          <td>
            ООО "НТТ Импорт"
          </td>
          <td>
            АМИНСКАЯ ОБЛАСТЬ, Минский, д. Большое Стиклево, ТЕР. РАЙОН Д. БОЛЬШОЕ СТИКЛЕВО, д. 40, корп. 2
          </td>
          <td>
            г. Брест, УЛ. КАТИН БОР, д. 103
          </td>
        </tr>
        <tr>
          <td>
            <input type="checkbox">
          </td>
          <td>
            12345678910
          </td>
          <td>
            Груз
          </td>
          <td>
            21.10.2020
          </td>
          <td>
            23:30
          </td>
          <td>
            Экспресс-доставка грузов
          </td>
          <td>
            ООО "НТТ Импорт"
          </td>
          <td>
            АМИНСКАЯ ОБЛАСТЬ, Минский, д. Большое Стиклево, ТЕР. РАЙОН Д. БОЛЬШОЕ СТИКЛЕВО, д. 40, корп. 2
          </td>
          <td>
            г. Брест, УЛ. КАТИН БОР, д. 103
          </td>
        </tr>
        <tr>
          <td>
            <input type="checkbox">
          </td>
          <td>
            12345678910
          </td>
          <td>
            Груз
          </td>
          <td>
            21.10.2020
          </td>
          <td>
            23:30
          </td>
          <td>
            Экспресс-доставка грузов
          </td>
          <td>
            ООО "НТТ Импорт"
          </td>
          <td>
            АМИНСКАЯ ОБЛАСТЬ, Минский, д. Большое Стиклево, ТЕР. РАЙОН Д. БОЛЬШОЕ СТИКЛЕВО, д. 40, корп. 2
          </td>
          <td>
            г. Брест, УЛ. КАТИН БОР, д. 103
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="row pages-controls">
    <h2 class="pages-header">На странице:</h2>
    <input type="text" class="current-page" size="1" value="5">
    <div class="pages-controls-slider">
      <div class="prev-page"></div>
      <input type="text" class="current-page" size="1" value="5">
      <p class="pages-total">из <span>25</span> страниц</p>
      <div class="next-page"></div>
    </div>
  </div>
</div>
