.journal {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 30px 30px 0 30px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  background-color: #B3A4C1;
  border-radius: 10px;
  overflow: hidden;

  & .main-table {
    height: 75%;
    width: 100%;
    overflow: auto;
  }

  & button {
    padding: 12px 27px;
    font-family: "Montserrat-Medium", sans-serif;
    font-size: 14px;
    color: #000000;
    border: none;
    border-radius: 5px;
    background-color: #ffffff;
    outline: none;
  }

  & .row {
    margin: 0 0 30px 0;
    padding: 0;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;

    &.main-table {
      margin-bottom: 0;
    }

    &.pages-controls {
      position: relative;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-start;
      width: 100%;
      margin: 10px 0;
    }

    & .pages-controls-slider {
      position: absolute;
      display: flex;
      align-items: center;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);

      & .prev-page {
        background-image: url("../../../assets/img/journal/prev.svg");
        width: 9px;
        height: 15px;
        margin-right: 11px;
      }

      & .next-page {
        width: 9px;
        height: 15px;
        background-image: url("../../../assets/img/journal/next.svg");
      }

      & .pages-total {
        font-family: "Montserrat-SemiBold", sans-serif;
        font-size: 12px;
        color: #ffffff;
        margin: 0 25px 0 8px;
      }
    }

    & .pages-header {
      font-family: "Montserrat-SemiBold", sans-serif;
      font-size: 12px;
      color: #ffffff;
      margin-right: 10px;
      margin-bottom: 0;
    }

    & .current-page {
      padding: 8px 24px;
      box-sizing: border-box;
      font-family: "Montserrat-SemiBold", sans-serif;
      font-size: 12px;
      color: #5A5A5A;
      border-radius: 7px;
      border: 1px solid #E0E4E7;
      background-color: #ffffff;
      outline: none;
      text-align: center;
    }

    & table {
      width: 100%;
      height: 100%;
      overflow: scroll;
      border-collapse: collapse;
    }

    & tr:nth-child(even) {
      background-color: #EEE6F5;
    }

    & tr:nth-child(odd) {
      background-color: #ffffff;
    }

    & tr:hover td {
      background-color: rgba(161, 54, 255, 0.5);
      color: rgb(81,27,128);
    }

    & td, & th {
      border: 1px solid #C0A5D9;
      font-family: "Montserrat-Medium", sans-serif;
      font-size: 12px;
      padding: 12px 22px;
    }

    & td {
      background-color: #ffffff;
      color: #000000;
    }

    & th {
      background-color: #8D60B5;
      color: #ffffff;

      &:first-of-type {
        border-top-left-radius: 10px;
      }

      &:last-of-type {
        border-top-right-radius: 10px;

      }
    }

    & .add-cols button {
      padding: 12px 60px 12px 30px;
      background-image: url("../../../assets/img/journal/add.svg");
      background-repeat: no-repeat;
      background-position: 92% 50%;
    }

    & .controls {
      display: flex;
      justify-content: space-between;
      width: 910px;
      max-width: 100%;
    }

    & .add-filter {
      padding: 12px 60px 12px 30px;
      background-image: url("../../../assets/img/journal/add.svg");
      background-repeat: no-repeat;
      background-position: 80% 50%;
    }
  }

  & .row .search {
    width: 89%;
    max-width: 100%;
    background-color: #ffffff;
    border-radius: 5px;
    border: none;
    outline: none;
    padding: 12px 60px 12px 18px;
    box-sizing: border-box;
    font-family: "Montserrat-Medium", sans-serif;
    font-size: 14px;
    color: #000000;
    background-image: url("../../../assets/img/journal/search.svg");
    background-repeat: no-repeat;
    background-position: 98% 50%;
  }

  // Modals

  &-modal-email {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #A070B5;
    border-radius: 10px;
    box-sizing: border-box;
    padding: 30px;
    width: 100%;
    height: 100%;
    max-width: 1320px;
    max-height: 978px;
  }

  &-modal-box {
    width: 100%;
    padding: 30px;
    box-sizing: border-box;
    background-color: #EEE6F5;
    border-radius: 10px;
    margin-bottom: 30px;

    &-header {
      font-family: "Montserrat-SemiBold", sans-serif;
      font-size: 14px;
      color: rgba(0, 0, 0, 0.5);
    }

    & label, & input {
      display: block;
      margin: 0;
      padding: 0;
    }

    & input[type='date'] {
      background-image: url("../../../assets/img/journal/calendar.svg");
      background-repeat: no-repeat;
      background-position: 95% 50%;
    }

    & select {
      box-sizing: border-box;
      padding: 12px 50px 12px 15px;
      background-color: #FFFFFF;
      border: none;
      border-radius: 5px;
      font-family: "Montserrat-Medium", sans-serif;
      font-size: 14px;
      color: #000000;
      width: 100%;
      -moz-appearance:none;
      -webkit-appearance:none;
      appearance:none;
      outline: none;
      background-image: url("../../../assets/img/journal/select.svg");
      background-repeat: no-repeat;
      background-position: 95% 50%;
    }

    & input {
      margin-top: 12px;
      background-color: #FFFFFF;
      border-radius: 5px;
      border: none;
      outline: none;
      padding: 12px 15px;
      box-sizing: border-box;
      width: 100%;
      font-family: "Montserrat-Medium", sans-serif;
      font-size: 14px;
      color: rgba(0,0,0,0.5);
    }

    & label {
      margin-top: 20px;
      font-family: "Montserrat-SemiBold", sans-serif;
      font-size: 14px;
      color: rgba(0,0,0,.5);

      &:first-of-type {
        margin-top: 0;
      }
    }
  }

  &-modal-search-filters {
    display: none;
    width: 100%;
    max-width: 973px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #A070B5;
    border-radius: 10px;
    padding: 30px;
    box-sizing: border-box;

    &-controls .row {
      width: 100%;
      display: flex;
      justify-content: flex-end;

      & .clear, & input[type='submit'] {
        box-sizing: border-box;
        border: none;
        border-radius: 28px;
        padding: 12px 68px;
        font-family: "Montserrat-Medium", sans-serif;
        font-size: 12px;
        transition: all .5s;
        margin: 0;
      }

      & .clear {
        background-color: #FFFFFF;
        color: #000000;


        &:hover {
          background-color: #ececec;
        }
      }

      & input[type='submit'] {
        background-color: #ABCF37;
        color: #FFFFFF;
        margin-left: 20px;

        &:hover {
          background-color: #8baa2c;
        }
      }
    }

    & form {
      margin: 20px 0 0 0;
    }


  }

  &-modal-columns {
    display: none;
    width: 100%;
    height: 100%;
    max-width: 387px;
    max-height: 606px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 30px;
    box-sizing: border-box;
    border-radius: 10px;
    background-color: #EEE6F5;

    & .row {
      margin-top: 15px;
      align-items: center;

      &:first-of-type {
        margin-top: 0;
      }
    }

    & label {
      font-family: "Montserrat-Medium", sans-serif;
      font-size: 14px;
      color: #000000;
      margin: 0;
    }

    & input[type='checkbox'] {
      margin: 0 10px 0 0;
    }
  }

  &-modal-header {
    font-family: "Montserrat-SemiBold", sans-serif;
    font-size: 14px;
    color: #FFFFFF;
    margin: 0;
    padding: 0;
  }
}
