<div class="journal">
  <div class="row">
    <input type="text" class="search" placeholder="Поиск">
    <button class="add-filter">Фильтр</button>
  </div>

  <div class="row">
    <div class="controls">
      <button>Бланк доставки</button>
      <button>Этикетки</button>
      <button>Отправить на Email</button>
      <button>Выбрать все</button>
      <button>Экспорт в эксель</button>
    </div>
    <div class="add-cols">
      <button>Отображение столбцов в таблице</button>
    </div>
  </div>

  <div class="row main-table">
    <table>
      <thead>
        <th>Выбрать</th>
        <th>Номер</th>
        <th>Статусы</th>
        <th>Дата выдачи груза</th>
        <th>Дата доставки груза</th>
        <th>Услуга</th>
        <th>Отправитель</th>
        <th>Адрес выдачи груза</th>
        <th>Адрес доставки груза</th>
      </thead>
      <tbody>
        <tr>
          <td>
            <input type="checkbox">
          </td>
          <td>
            12345678910
          </td>
          <td>
            Груз
          </td>
          <td>
            21.10.2020
          </td>
          <td>
            23:30
          </td>
          <td>
            Экспресс-доставка грузов
          </td>
          <td>
            ООО "НТТ Импорт"
          </td>
          <td>
            АМИНСКАЯ ОБЛАСТЬ, Минский, д. Большое Стиклево, ТЕР. РАЙОН Д. БОЛЬШОЕ СТИКЛЕВО, д. 40, корп. 2
          </td>
          <td>
            г. Брест, УЛ. КАТИН БОР, д. 103
          </td>
        </tr>
        <tr>
          <td>
            <input type="checkbox">
          </td>
          <td>
            12345678910
          </td>
          <td>
            Груз
          </td>
          <td>
            21.10.2020
          </td>
          <td>
            23:30
          </td>
          <td>
            Экспресс-доставка грузов
          </td>
          <td>
            ООО "НТТ Импорт"
          </td>
          <td>
            АМИНСКАЯ ОБЛАСТЬ, Минский, д. Большое Стиклево, ТЕР. РАЙОН Д. БОЛЬШОЕ СТИКЛЕВО, д. 40, корп. 2
          </td>
          <td>
            г. Брест, УЛ. КАТИН БОР, д. 103
          </td>
        </tr>
        <tr>
          <td>
            <input type="checkbox">
          </td>
          <td>
            12345678910
          </td>
          <td>
            Груз
          </td>
          <td>
            21.10.2020
          </td>
          <td>
            23:30
          </td>
          <td>
            Экспресс-доставка грузов
          </td>
          <td>
            ООО "НТТ Импорт"
          </td>
          <td>
            АМИНСКАЯ ОБЛАСТЬ, Минский, д. Большое Стиклево, ТЕР. РАЙОН Д. БОЛЬШОЕ СТИКЛЕВО, д. 40, корп. 2
          </td>
          <td>
            г. Брест, УЛ. КАТИН БОР, д. 103
          </td>
        </tr>
        <tr>
          <td>
            <input type="checkbox">
          </td>
          <td>
            12345678910
          </td>
          <td>
            Груз
          </td>
          <td>
            21.10.2020
          </td>
          <td>
            23:30
          </td>
          <td>
            Экспресс-доставка грузов
          </td>
          <td>
            ООО "НТТ Импорт"
          </td>
          <td>
            АМИНСКАЯ ОБЛАСТЬ, Минский, д. Большое Стиклево, ТЕР. РАЙОН Д. БОЛЬШОЕ СТИКЛЕВО, д. 40, корп. 2
          </td>
          <td>
            г. Брест, УЛ. КАТИН БОР, д. 103
          </td>
        </tr>
        <tr>
          <td>
            <input type="checkbox">
          </td>
          <td>
            12345678910
          </td>
          <td>
            Груз
          </td>
          <td>
            21.10.2020
          </td>
          <td>
            23:30
          </td>
          <td>
            Экспресс-доставка грузов
          </td>
          <td>
            ООО "НТТ Импорт"
          </td>
          <td>
            АМИНСКАЯ ОБЛАСТЬ, Минский, д. Большое Стиклево, ТЕР. РАЙОН Д. БОЛЬШОЕ СТИКЛЕВО, д. 40, корп. 2
          </td>
          <td>
            г. Брест, УЛ. КАТИН БОР, д. 103
          </td>
        </tr>
        <tr>
          <td>
            <input type="checkbox">
          </td>
          <td>
            12345678910
          </td>
          <td>
            Груз
          </td>
          <td>
            21.10.2020
          </td>
          <td>
            23:30
          </td>
          <td>
            Экспресс-доставка грузов
          </td>
          <td>
            ООО "НТТ Импорт"
          </td>
          <td>
            АМИНСКАЯ ОБЛАСТЬ, Минский, д. Большое Стиклево, ТЕР. РАЙОН Д. БОЛЬШОЕ СТИКЛЕВО, д. 40, корп. 2
          </td>
          <td>
            г. Брест, УЛ. КАТИН БОР, д. 103
          </td>
        </tr>
        <tr>
          <td>
            <input type="checkbox">
          </td>
          <td>
            12345678910
          </td>
          <td>
            Груз
          </td>
          <td>
            21.10.2020
          </td>
          <td>
            23:30
          </td>
          <td>
            Экспресс-доставка грузов
          </td>
          <td>
            ООО "НТТ Импорт"
          </td>
          <td>
            АМИНСКАЯ ОБЛАСТЬ, Минский, д. Большое Стиклево, ТЕР. РАЙОН Д. БОЛЬШОЕ СТИКЛЕВО, д. 40, корп. 2
          </td>
          <td>
            г. Брест, УЛ. КАТИН БОР, д. 103
          </td>
        </tr>
        <tr>
          <td>
            <input type="checkbox">
          </td>
          <td>
            12345678910
          </td>
          <td>
            Груз
          </td>
          <td>
            21.10.2020
          </td>
          <td>
            23:30
          </td>
          <td>
            Экспресс-доставка грузов
          </td>
          <td>
            ООО "НТТ Импорт"
          </td>
          <td>
            АМИНСКАЯ ОБЛАСТЬ, Минский, д. Большое Стиклево, ТЕР. РАЙОН Д. БОЛЬШОЕ СТИКЛЕВО, д. 40, корп. 2
          </td>
          <td>
            г. Брест, УЛ. КАТИН БОР, д. 103
          </td>
        </tr>
        <tr>
          <td>
            <input type="checkbox">
          </td>
          <td>
            12345678910
          </td>
          <td>
            Груз
          </td>
          <td>
            21.10.2020
          </td>
          <td>
            23:30
          </td>
          <td>
            Экспресс-доставка грузов
          </td>
          <td>
            ООО "НТТ Импорт"
          </td>
          <td>
            АМИНСКАЯ ОБЛАСТЬ, Минский, д. Большое Стиклево, ТЕР. РАЙОН Д. БОЛЬШОЕ СТИКЛЕВО, д. 40, корп. 2
          </td>
          <td>
            г. Брест, УЛ. КАТИН БОР, д. 103
          </td>
        </tr>
        <tr>
          <td>
            <input type="checkbox">
          </td>
          <td>
            12345678910
          </td>
          <td>
            Груз
          </td>
          <td>
            21.10.2020
          </td>
          <td>
            23:30
          </td>
          <td>
            Экспресс-доставка грузов
          </td>
          <td>
            ООО "НТТ Импорт"
          </td>
          <td>
            АМИНСКАЯ ОБЛАСТЬ, Минский, д. Большое Стиклево, ТЕР. РАЙОН Д. БОЛЬШОЕ СТИКЛЕВО, д. 40, корп. 2
          </td>
          <td>
            г. Брест, УЛ. КАТИН БОР, д. 103
          </td>
        </tr>
        <tr>
          <td>
            <input type="checkbox">
          </td>
          <td>
            12345678910
          </td>
          <td>
            Груз
          </td>
          <td>
            21.10.2020
          </td>
          <td>
            23:30
          </td>
          <td>
            Экспресс-доставка грузов
          </td>
          <td>
            ООО "НТТ Импорт"
          </td>
          <td>
            АМИНСКАЯ ОБЛАСТЬ, Минский, д. Большое Стиклево, ТЕР. РАЙОН Д. БОЛЬШОЕ СТИКЛЕВО, д. 40, корп. 2
          </td>
          <td>
            г. Брест, УЛ. КАТИН БОР, д. 103
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="row pages-controls">
    <h2 class="pages-header">На странице:</h2>
    <input type="text" class="current-page" size="1" value="5">
    <div class="pages-controls-slider">
      <div class="prev-page"></div>
      <input type="text" class="current-page" size="1" value="5">
      <p class="pages-total">из <span>25</span> страниц</p>
      <div class="next-page"></div>
    </div>
  </div>
</div>

<!-- MODALS -->
<!-- Modal filters -->
<!--<div class="journal-modal-search-filters">-->
<!--  <h2 class="journal-modal-header">Выберите одну из дат</h2>-->
<!--  <form action="">-->
<!--    <div class="journal-modal-box">-->
<!--      <div class="row">-->
<!--        <div class="col col-lg-6 col-lx-6 col-md-12 col-sm-12">-->
<!--          <label for="dispatch-date-from">Дата отправления с:</label>-->
<!--          <input type="date" name="dispatch-date-from" id="dispatch-date-from">-->

<!--          <label for="date-of-order-from">Дата создания заказа с:</label>-->
<!--          <input type="date" name="date-of-order-from" id="date-of-order-from">-->

<!--          <label for="date-of-order-access-from">Дата выдачи заказа с:</label>-->
<!--          <input type="date" name="date-of-order-access-from" id="date-of-order-access-from">-->

<!--          <label for="date-of-delivery-from">Дата доставки заказа с :</label>-->
<!--          <input type="date" name="date-of-delivery-from" id="date-of-delivery-from">-->
<!--        </div>-->
<!--        <div class="col col-lg-6 col-lx-6 col-md-12 col-sm-12">-->
<!--          <label for="dispatch-date-to">Дата отправления по:</label>-->
<!--          <input type="date" name="dispatch-date-to" id="dispatch-date-to">-->

<!--          <label for="date-of-order-to">Дата создания заказа по:</label>-->
<!--          <input type="date" name="date-of-order-to" id="date-of-order-to">-->

<!--          <label for="date-of-order-access-to">Дата выдачи заказа по:</label>-->
<!--          <input type="date" name="date-of-order-access-to" id="date-of-order-access-to">-->

<!--          <label for="date-of-delivery-to">Дата доставки заказа по :</label>-->
<!--          <input type="date" name="date-of-delivery-to" id="date-of-delivery-to">-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--    <div class="journal-modal-box">-->
<!--      <div class="row">-->
<!--        <div class="col col-lg-6 col-lx-6 col-md-12 col-sm-12">-->
<!--          <label for="sender">Отправитель :</label>-->
<!--          <input type="text" name="sender" id="sender">-->

<!--          <label for="place-from">Откуда( населенный пункт) :</label>-->
<!--          <input type="text" name="place-from" id="place-from">-->

<!--          <label for="service">Отправитель:</label>-->
<!--          <select name="service" id="service">-->
<!--            <option value="0">(все)</option>-->
<!--          </select>-->
<!--        </div>-->
<!--        <div class="col col-lg-6 col-lx-6 col-md-12 col-sm-12">-->
<!--          <label for="recipient">Получатель :</label>-->
<!--          <input type="text" name="recipient" id="recipient">-->

<!--          <label for="place-to">Куда( населенный пункт) :</label>-->
<!--          <input type="text" name="place-to" id="place-to">-->

<!--          <label for="service-status">Отправитель:</label>-->
<!--          <select name="service-status" id="service-status">-->
<!--            <option value="0">(все)</option>-->
<!--          </select>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->

<!--    <div class="journal-modal-search-filters-controls">-->
<!--      <div class="row">-->
<!--        <button class="clear">Очистить</button>-->
<!--        <input type="submit" value="Применить">-->
<!--      </div>-->
<!--    </div>-->
<!--  </form>-->
<!--</div>-->

<!-- Modal columns-->
<!--<div class="journal-modal-columns">-->
<!--  <div class="row">-->
<!--    <input type="checkbox" id="status" name="status">-->
<!--    <label for="status">Статус заявки</label>-->
<!--  </div>-->

<!--  <div class="row">-->
<!--    <input type="checkbox" id="date-of-change" name="date-of-change">-->
<!--    <label for="date-of-change">Дата / время изменения статуса заявки</label>-->
<!--  </div>-->

<!--  <div class="row">-->
<!--    <input type="checkbox" id="service-checkbox" name="service-checkbox">-->
<!--    <label for="service-checkbox">Услуга</label>-->
<!--  </div>-->

<!--  <div class="row">-->
<!--    <input type="checkbox" id="ttn" name="ttn">-->
<!--    <label for="ttn">ТТН</label>-->
<!--  </div>-->

<!--  <div class="row">-->
<!--    <input type="checkbox" id="sender-checkbox" name="sender-checkbox">-->
<!--    <label for="sender-checkbox">Отправитель</label>-->
<!--  </div>-->

<!--  <div class="row">-->
<!--    <input type="checkbox" id="place-for-cargo" name="place-for-cargo">-->
<!--    <label for="place-for-cargo">Адрес выдачи груза</label>-->
<!--  </div>-->

<!--  <div class="row">-->
<!--    <input type="checkbox" id="date-of-dispatch-checkbox" name="date-of-dispatch-checkbox">-->
<!--    <label for="date-of-dispatch-checkbox">Дата выдачи груза</label>-->
<!--  </div>-->

<!--  <div class="row">-->
<!--    <input type="checkbox" id="time-of-dispatch-from" name="time-of-dispatch-from">-->
<!--    <label for="time-of-dispatch-from">Время  выдачи груза с</label>-->
<!--  </div>-->

<!--  <div class="row">-->
<!--    <input type="checkbox" id="time-of-dispatch-to" name="time-of-dispatch-to">-->
<!--    <label for="time-of-dispatch-to">Время  выдачи груза по</label>-->
<!--  </div>-->

<!--  <div class="row">-->
<!--    <input type="checkbox" id="address-for-delivery" name="address-for-delivery">-->
<!--    <label for="address-for-delivery">Адрес доставки груза</label>-->
<!--  </div>-->

<!--  <div class="row">-->
<!--    <input type="checkbox" id="date-of-delivery-checkbox" name="date-of-delivery-checkbox">-->
<!--    <label for="date-of-delivery-checkbox">Дата доставки груза</label>-->
<!--  </div>-->

<!--  <div class="row">-->
<!--    <input type="checkbox" id="time-of-delivery-to" name="time-of-delivery-to">-->
<!--    <label for="time-of-delivery-to">Время доставки груза по</label>-->
<!--  </div>-->

<!--  <div class="row">-->
<!--    <input type="checkbox" id="counter-of-place" name="counter-of-place">-->
<!--    <label for="counter-of-place">Кол-во грузовых мест</label>-->
<!--  </div>-->

<!--  <div class="row">-->
<!--    <input type="checkbox" id="author" name="author">-->
<!--    <label for="author">Автор документа</label>-->
<!--  </div>-->
<!--</div>-->

<!-- Modal send-to-email -->
<div class="journal-modal-email">
  <h2 class="journal-modal-header">Отправить на Email</h2>
  <div class="journal-modal-box">
    <h3 class="journal-modal-box-header">Номера заказов:</h3>
    <div class="row">
      <span class="order-number">123345678900;</span>
      <span class="order-number">123345678900;</span>
      <span class="order-number">123345678900;</span>
      <span class="order-number">123345678900;</span>
      <span class="order-number">123345678900;</span>
      <span class="order-number">123345678900;</span>
      <span class="order-number">123345678900;</span>
      <span class="order-number">123345678900;</span>
      <span class="order-number">123345678900;</span>
      <span class="order-number">123345678900;</span>
      <span class="order-number">123345678900;</span>
      <span class="order-number">123345678900;</span>
    </div>
  </div>
  <div class="journal-modal-box">
    <div class="row">
      <div class="col col-lg-4 col-lx-4 col-md-12 col-sm-12">
        <div class="row">
          <h3 class="journal-modal-box-header">Формировать и отправлять на Email</h3>
        </div>
        <div class="row">
          <input type="checkbox" name="blank" id="blank">
          <label for="blank">Бланк</label>
        </div>
        <div class="row">
          <input type="checkbox" name="stick" id="stick">
          <label for="stick">Этикетки</label>
        </div>
      </div>
      <div class="col col-lg-4 col-lx-4 col-md-12 col-sm-12"></div>
      <div class="col col-lg-4 col-lx-4 col-md-12 col-sm-12"></div>
    </div>
  </div>
</div>
