<!--<nav class="navbar">-->
<!--  <div class="navbar-logo" routerLinkActive="" [routerLinkActiveOptions]="{exact: true}">-->
<!--    <a [routerLink]="['']">-->
<!--      <img src="../../../assets/img/logo.svg" alt="big-logo">-->
<!--    </a>-->
<!--  </div>-->
<!--  <ul class="unlogged">-->
<!--    <li routerLinkActive="active-menu" [routerLinkActiveOptions]="{exact: true}">-->
<!--      <img src="../../../assets/img/signing/log-in.svg" alt="log-in">-->
<!--      <a [routerLink]="['']">-->
<!--        Вход</a>-->
<!--    </li>-->
<!--    <li routerLinkActive="active-menu">-->
<!--      <img src="../../../assets/img/signing/recover.svg" alt="recover">-->
<!--      <a [routerLink]="['/recover']">Забыли пароль</a>-->
<!--    </li>-->
<!--    <li routerLinkActive="active-menu">-->
<!--      <img src="../../../assets/img/signing/registration.svg" alt="registration">-->
<!--      <a [routerLink]="['/registration']">Регистрация</a>-->
<!--    </li>-->
<!--    <li routerLinkActive="active-menu">-->
<!--      <img src="../../../assets/img/signing/calc.svg" alt="calculator">-->
<!--      <a [routerLink]="['/calculator']">Калькулятор</a>-->
<!--    </li>-->
<!--  </ul>-->
<!--  <div class="logged">-->
<!--    <div class="logged-box">-->
<!--      <ul class="logged-menu">-->
<!--        <li routerLinkActive="active-menu active-menu_psm">-->
<!--          <a href="" routerLink="/order" class="new-order">Новый заказ</a>-->
<!--        </li>-->
<!--        <li routerLinkActive="active-menu">-->
<!--          <img src="" alt="">-->
<!--          <a href="" routerLink="/home">Главная</a>-->
<!--        </li>-->
<!--        <li routerLinkActive="active-menu">-->
<!--          <img src="" alt="">-->
<!--          <a href="" routerLink="/journal">Журнал заказов</a>-->
<!--        </li>-->
<!--        <li routerLinkActive="active-menu">-->
<!--          <img src="" alt="">-->
<!--          <a href="" routerLink="/template">Шаблон заказов</a>-->
<!--        </li>-->
<!--        <li routerLinkActive="active-menu">-->
<!--          <img src="" alt="">-->
<!--          <a href="" routerLink="/book">Адрессная книга</a>-->
<!--        </li>-->
<!--        <li routerLinkActive="active-menu">-->
<!--          <img src="" alt="">-->
<!--          <a href="" routerLink="/users">Пользователи</a>-->
<!--        </li>-->
<!--        <li routerLinkActive="active-menu">-->
<!--          <img src="" alt="">-->
<!--          <a href="" routerLink="/calculator">Калькулятор</a>-->
<!--        </li>-->
<!--        <li routerLinkActive="active-menu">-->
<!--          <img src="../../../assets/img/sidebar/light/file-text.svg" alt="ico">-->
<!--          <a href="" routerLink="/docs">Документы</a>-->
<!--        </li>-->
<!--        <li routerLinkActive="active-menu">-->
<!--          <img src="" alt="">-->
<!--          <a href="" routerLink="/instructions">Инструкция</a>-->
<!--        </li>-->
<!--        <li routerLinkActive="active-menu">-->
<!--          <img src="" alt="">-->
<!--          <a href="" routerLink="/profile">Профиль</a>-->
<!--        </li>-->
<!--      </ul>-->
<!--    </div>-->
<!--    <ul class="logged-box">-->
<!--      <li class="active-link">-->
<!--        <a href="">Хотим стать лучше</a>-->
<!--      </li>-->
<!--      <li class="active-link">-->
<!--        <a href="">Новости</a>-->
<!--      </li>-->
<!--      <li class="active-link">-->
<!--        <a href="">Выход</a>-->
<!--      </li>-->
<!--    </ul>-->
<!--  </div>-->


<!--</nav>-->
<div id="desktopUnloggedSidebar" class="sidebar">
  <a routerLinkActive="active-menu" [routerLink]="['']" [routerLinkActiveOptions]="{exact: true}">
    <img src="../../../assets/img/signing/log-in.svg" alt="">
    <span class="link">Вход</span>
  </a>
  <a routerLinkActive="active-menu" [routerLink]="['/recover']">
    <img src="../../../assets/img/signing/recover.svg" alt="">
    <span class="link">Забыли пароль</span>
  </a>
  <a routerLinkActive="active-menu" [routerLink]="['/registration']">
    <img src="../../../assets/img/signing/registration.svg" alt="">
    <span class="link">Регистрация</span>
  </a>
  <a routerLinkActive="active-menu" routerLink="/calculator">
    <img src="../../../assets/img/signing/calc.svg" alt="">
    <span class="link">Калькулятор</span>
  </a>
</div>
