//.navbar {
//  display: flex;
//  flex-direction: column;
//  justify-content: flex-start;
//  padding: 0;
//  width: 13vw;
//  height: 100%;
//  box-sizing: border-box;
//}
//
//.unlogged {
//  margin-top: 45px;
//  width: 100%;
//  padding: 0;
//}
//
//.navbar-logo {
//  padding: 0 !important;
//  margin: 0 !important;
//}
//
//.navbar ul {
//  padding: 0;
//}
//
//.navbar ul li {
//  list-style: none;
//  padding: 18px 20px;
//  display: flex;
//  align-items: center;
//  box-sizing: border-box;
//}
//
//.navbar ul li a {
//  width: 100%;
//  height: 100%;
//  text-decoration: none;
//  font-family: "Montserrat-SemiBold", sans-serif;
//  font-size: 14px;
//  color: #000;
//}
//
//.navbar-logo {
//  padding-left: 20px;
//  margin-top: 9px;
//}
//
//.active-menu {
//  border-top-left-radius: 63px;
//  border-bottom-left-radius: 63px;
//  position: relative;
//  background-color: #A070B5;
//
//  &_psm {
//    padding: 7px !important;
//  }
//}
//
//.navbar ul li.active-menu a {
//  color: #fff;
//}
//
//
//.active-menu:before,
//.active-menu:after {
//  content: '';
//  display: block;
//  position: absolute;
//  width: 10px;
//  height: 10px;
//}
//
//.active-menu:before {
//  right: 0;
//  bottom: 100%;
//  background-image: radial-gradient(circle at 0 0, transparent 10px, #A070B5 10px);
//}
//
//.active-menu:after {
//  right: 0;
//  top: 100%;
//  background-image: radial-gradient(circle at 0 100%, transparent 10px, #A070B5 10px);
//}
//
//li img {
//  display: none;
//}
//
//li.active-menu img {
//  display: block;
//  margin-right: 18px;
//  width: 24px;
//  height: 24px;
//}
//
//.new-order {
//  text-decoration: none;
//  font-family: "Montserrat-Medium", sans-serif;
//  font-size: 14px;
//  color: #ffffff;
//  padding: 14px 38px;
//  border-radius: 25px;
//  background-color: #ABCF37;
//  transition: all .3s;
//
//  &:hover {
//    background-color: #8bb307;
//  }
//}

#desktopLoggedSidebar .logo {
  //margin-bottom: 0;
}

.new-order {
  display: flex;
  align-items: center;
  background-color: #ABCF37;
  padding: 13px;
  box-sizing: border-box;
  border-radius: 39px;

  & .link {
    margin-left: 18px;
    margin-right: 10px;
    color: #FFFFFF;
  }
}

a.order {
  padding: 7px !important;
  flex-wrap: nowrap;
  //margin-left: 8px;
  margin-bottom: 25px;

  & .new-order img {
    display: flex;
    margin: 0 !important;
  }

  & .new-order .link {
    margin-left: 18px;
    color: #FFFFFF;
  }
}

a.order img {
  display: flex;
}

.sidebar {
  height: 100%;
  width: 80px;

  transition: all .5s;

  & .logo {
    padding-left: 0 !important;
    margin-bottom: 45px;
  }

  &:hover .new-order {
    padding: 13px 21px;
    //margin-left: -8px;
  }

  &:hover, a:hover {
    width: 220px;
  }

  &:hover a.active-menu span.link {
    display: block;
    color: #FFFFFF;
  }

  &:hover a span.link {
    display: block;
    color: #000000;
  }

  &:hover a.active-menu img.light-menu {
    display: flex;
    margin-left: 8px;
  }
  // ЕСЛИ ЕЙ ПРИСПИЧИЛО СКРЫВАТЬ ЧЕРНЫЕ
  &:hover a img.dark-menu {
    display: none;
  }

  &:hover .order .new-order .light-menu {
    margin-left: 0;
  }

  &:hover a img.small-logo {
    display: none;
    transition: all .5s;
  }

  &:hover a img.full-logo {
    display: flex;
    transition: all .5s;
  }

  & a img.full-logo {
    display: none;
    transition: all .5s;
  }

  & a img.small-logo {
    display: flex;
    transition: all .5s;
  }

  & a.logo {
    padding: 22px;
  }

  & a {
    padding: 22px;
    text-decoration: none;
    font-size: 14px;
    font-family: "Montserrat-SemiBold", sans-serif;
    color: #000000;
    transition: .5s;
    display: flex;
    white-space: nowrap;
    box-sizing: border-box;

    & img {
      margin-right: 18px;
      transition: all .5s;
    }

    & img.dark-menu {
      display: flex;
    }

    &.active-menu {
      color: #FFFFFF;
      background-color: #A070B5;
      border-top-left-radius: 63px;
      border-bottom-left-radius: 63px;
      position: relative;

      & img.light-menu {
        display: flex;
      }

      & img.dark-menu {
        display: none !important;
      }

      &:before,
      &:after {
        content: '';
        display: block;
        position: absolute;
        width: 10px;
        height: 10px;
        transition: all .5s;
      }

      &:before {
        right: 0;
        bottom: 100%;
        background-image: radial-gradient(circle at 0 0, transparent 10px, #A070B5 10px);
        transition: all .5s;
      }

      &:after {
        right: 0;
        top: 100%;
        background-image: radial-gradient(circle at 0 100%, transparent 10px, #A070B5 10px);
        transition: all .5s;
      }
    }

    & img {
      display: none;
    }
  }
}

.link {
  display: none;
  transition: all 0.5s;
}
