<!--<nav class="navbar">-->
<!--  <div class="navbar-logo" routerLinkActive="" [routerLinkActiveOptions]="{exact: true}">-->
<!--    <a [routerLink]="['']">-->
<!--      <img src="../../../assets/img/logo.svg" alt="big-logo">-->
<!--    </a>-->
<!--  </div>-->
<!--  <ul class="unlogged">-->
<!--    <li routerLinkActive="active-menu" [routerLinkActiveOptions]="{exact: true}">-->
<!--      <img src="../../../assets/img/signing/log-in.svg" alt="log-in">-->
<!--      <a [routerLink]="['']">-->
<!--        Вход</a>-->
<!--    </li>-->
<!--    <li routerLinkActive="active-menu">-->
<!--      <img src="../../../assets/img/signing/recover.svg" alt="recover">-->
<!--      <a [routerLink]="['/recover']">Забыли пароль</a>-->
<!--    </li>-->
<!--    <li routerLinkActive="active-menu">-->
<!--      <img src="../../../assets/img/signing/registration.svg" alt="registration">-->
<!--      <a [routerLink]="['/registration']">Регистрация</a>-->
<!--    </li>-->
<!--    <li routerLinkActive="active-menu">-->
<!--      <img src="../../../assets/img/signing/calc-light.svg" alt="calculator">-->
<!--      <a [routerLink]="['/calculator']">Калькулятор</a>-->
<!--    </li>-->
<!--  </ul>-->
<!--  <div class="logged">-->
<!--    <div class="logged-box">-->
<!--      <ul class="logged-menu">-->
<!--        <li routerLinkActive="active-menu active-menu_psm">-->
<!--          <a href="" routerLink="/order" class="new-order">Новый заказ</a>-->
<!--        </li>-->
<!--        <li routerLinkActive="active-menu">-->
<!--          <img src="" alt="">-->
<!--          <a href="" routerLink="/home">Главная</a>-->
<!--        </li>-->
<!--        <li routerLinkActive="active-menu">-->
<!--          <img src="" alt="">-->
<!--          <a href="" routerLink="/journal">Журнал заказов</a>-->
<!--        </li>-->
<!--        <li routerLinkActive="active-menu">-->
<!--          <img src="" alt="">-->
<!--          <a href="" routerLink="/template">Шаблон заказов</a>-->
<!--        </li>-->
<!--        <li routerLinkActive="active-menu">-->
<!--          <img src="" alt="">-->
<!--          <a href="" routerLink="/book">Адрессная книга</a>-->
<!--        </li>-->
<!--        <li routerLinkActive="active-menu">-->
<!--          <img src="" alt="">-->
<!--          <a href="" routerLink="/users">Пользователи</a>-->
<!--        </li>-->
<!--        <li routerLinkActive="active-menu">-->
<!--          <img src="" alt="">-->
<!--          <a href="" routerLink="/calculator">Калькулятор</a>-->
<!--        </li>-->
<!--        <li routerLinkActive="active-menu">-->
<!--          <img src="../../../assets/img/sidebar/light/docs-light.svg" alt="ico">-->
<!--          <a href="" routerLink="/docs">Документы</a>-->
<!--        </li>-->
<!--        <li routerLinkActive="active-menu">-->
<!--          <img src="" alt="">-->
<!--          <a href="" routerLink="/instructions">Инструкция</a>-->
<!--        </li>-->
<!--        <li routerLinkActive="active-menu">-->
<!--          <img src="" alt="">-->
<!--          <a href="" routerLink="/profile">Профиль</a>-->
<!--        </li>-->
<!--      </ul>-->
<!--    </div>-->
<!--    <ul class="logged-box">-->
<!--      <li class="active-link">-->
<!--        <a href="">Хотим стать лучше</a>-->
<!--      </li>-->
<!--      <li class="active-link">-->
<!--        <a href="">Новости</a>-->
<!--      </li>-->
<!--      <li class="active-link">-->
<!--        <a href="">Выход</a>-->
<!--      </li>-->
<!--    </ul>-->
<!--  </div>-->


<!--</nav>-->

<!--<div id="desktopUnloggedSidebar" class="sidebar">-->
<!--  <a class="logo" [routerLink]="['login']">-->
<!--    <img src="../../../assets/img/sidebar/logo-small.svg" alt="" class="small-logo">-->
<!--    <img src="../../../assets/img/sidebar/logo.svg" alt="" class="full-logo">-->
<!--  </a>-->
<!--  <a routerLinkActive="active-menu" [routerLink]="['login']" [routerLinkActiveOptions]="{exact: true}">-->
<!--    <img class="light-menu" src="../../../assets/img/signing/log-in.svg" alt="">-->
<!--    <img src="../../../assets/img/signing/log-in-dark.svg" alt="" class="dark-menu">-->
<!--    <span class="link">Вход</span>-->
<!--  </a>-->
<!--  <a routerLinkActive="active-menu" [routerLink]="['/recover']">-->
<!--    <img class="light-menu" src="../../../assets/img/signing/recover.svg" alt="">-->
<!--    <img src="../../../assets/img/signing/recover-dark.svg" alt="" class="dark-menu">-->
<!--    <span class="link">Забыли пароль</span>-->
<!--  </a>-->
<!--  <a routerLinkActive="active-menu" [routerLink]="['/registration']">-->
<!--    <img class="light-menu" src="../../../assets/img/signing/registration.svg" alt="">-->
<!--    <img src="../../../assets/img/signing/registration-dark.svg" alt="" class="dark-menu">-->
<!--    <span class="link">Регистрация</span>-->
<!--  </a>-->
<!--  <a routerLinkActive="active-menu" routerLink="/calculator">-->
<!--    <img class="light-menu" src="../../../assets/img/sidebar/light/calc-light.svg" alt="">-->
<!--    <img src="../../../assets/img/sidebar/dark/calc-dark.svg" alt="" class="dark-menu">-->
<!--    <span class="link">Калькулятор</span>-->
<!--  </a>-->
<!--</div>-->

<div id="desktopLoggedSidebar" class="sidebar">
  <a class="logo" [routerLink]="['/home']">
    <img src="../../../assets/img/sidebar/logo-small.svg" alt="" class="small-logo">
    <img src="../../../assets/img/sidebar/logo.svg" alt="" class="full-logo">
  </a>
  <!-- New order -->
  <a routerLinkActive="active-menu" [routerLink]="['/order']" class="order">
    <span class="new-order">
      <img class="light-menu" src="../../../assets/img/sidebar/light/new-order.svg" alt="ico">
      <span class="link" style="color: #ffffff">Новый заказ</span>
    </span>
  </a>
  <a routerLinkActive="active-menu" [routerLink]="['/home']" [routerLinkActiveOptions]="{exact: true}">
    <img class="light-menu" src="../../../assets/img/sidebar/light/home-light.svg" alt="ico">
    <img class="dark-menu" src="../../../assets/img/sidebar/dark/home-dark.svg" alt="ico">
    <span class="link">Главная</span>
  </a>
  <a routerLinkActive="active-menu" [routerLink]="['/journal']">
    <img class="light-menu" src="../../../assets/img/sidebar/light/journal-light.svg" alt="ico">
    <img class="dark-menu" src="../../../assets/img/sidebar/dark/journal-dark.svg" alt="ico">
    <span class="link">Журнал заказов</span>
  </a>
  <a routerLinkActive="active-menu" [routerLink]="['/template']">
    <img class="light-menu" src="../../../assets/img/sidebar/light/template-light.svg" alt="ico">
    <img class="dark-menu" src="../../../assets/img/sidebar/dark/template-dark.svg" alt="ico">
    <span class="link">Шаблон заказов</span>
  </a>
  <a routerLinkActive="active-menu" [routerLink]="['/book']">
    <img class="light-menu" src="../../../assets/img/sidebar/light/book-light.svg" alt="ico">
    <img class="dark-menu" src="../../../assets/img/sidebar/dark/book-dark.svg" alt="ico">
    <span class="link">Адрессная книга</span>
  </a>
  <a routerLinkActive="active-menu" [routerLink]="['/users']">
    <img class="light-menu" src="../../../assets/img/sidebar/light/users-light.svg" alt="ico">
    <img class="dark-menu" src="../../../assets/img/sidebar/dark/users-dark.svg" alt="ico">
    <span class="link">Пользователи</span>
  </a>
  <a routerLinkActive="active-menu" [routerLink]="['/calculator']">
    <img class="light-menu" src="../../../assets/img/sidebar/light/calc-light.svg" alt="ico">
    <img class="dark-menu" src="../../../assets/img/sidebar/dark/calc-dark.svg" alt="ico">
    <span class="link">Калькулятор</span>
  </a>
  <a routerLinkActive="active-menu" [routerLink]="['/docs']">
    <img class="light-menu" src="../../../assets/img/sidebar/light/docs-light.svg" alt="ico">
    <img class="dark-menu" src="../../../assets/img/sidebar/dark/docs-dark.svg" alt="ico">
    <span class="link">Документы</span>
  </a>
  <a routerLinkActive="active-menu" [routerLink]="['/instructions']">
    <img class="light-menu" src="../../../assets/img/sidebar/light/instruction-light.svg" alt="ico">
    <img class="dark-menu" src="../../../assets/img/sidebar/dark/instruction-dark.svg" alt="ico">
    <span class="link">Инструкция</span>
  </a>
  <a routerLinkActive="active-menu" [routerLink]="['/profile']">
    <img class="light-menu" src="../../../assets/img/sidebar/light/profile-light.svg" alt="ico">
    <img class="dark-menu" src="../../../assets/img/sidebar/dark/profile-dark.svg" alt="ico">
    <span class="link">Профиль</span>
  </a>
</div>
