@import "./app/shared/font-face";
@import "./app/shared/_forms.scss";
/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';

body {
  margin: 0;
  padding: 0;
}

// Common styles
.white-text {
  font-family: "Montserrat-Medium", sans-serif;
  font-size: 18px;
  color: #FFFFFF;
}

.row {
  margin: 0;
  padding: 0;
}

input::-webkit-calendar-picker-indicator {
  opacity:0;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active
{
  -webkit-box-shadow: 0 0 0 30px white inset !important;
}

/* полоса прокрутки (скроллбар) */
::-webkit-scrollbar {
  width: 10px; /* ширина для вертикального скролла */
  height: 10px; /* высота для горизонтального скролла */
  background-color: #C6AFDA;
}

/* ползунок скроллбара */
::-webkit-scrollbar-thumb {
  background-color: #48206B;
  border-radius: 10px;
}

/* Стрелки */

::-webkit-scrollbar-button:vertical:start:decrement {
  display: none;
}

::-webkit-scrollbar-button:vertical:end:increment {
  display: none;
}

::-webkit-scrollbar-button:horizontal:start:decrement {
  display: none;
}

::-webkit-scrollbar-button:horizontal:end:increment {
  display: none;
}


